@using System.Net.Http;
@using AutoDetailsFirmaBLL.DTO;
@using AutoDetailsFirmaBLL.Services.EFServices;
@using AutoDetailsFirmaDAL.Interfaces.EFInterfaces.IEFServices;
@using System.Text.Json;
@using System.Net.Http.Formatting;
@using Newtonsoft.Json;
@using AutoDetailsFirmaBLL.Validation;
@using FluentValidation.Results;
@page "/api/Detail"
@page "/api/Detail/{id}"
@using Microsoft.AspNetCore.Components;
@inject IEFDetailService detailService;


<h1>Деталі</h1>


<hr />
<style>
    ul.nav {
        margin-left: 10px;
        padding-left: 10px;
        list-style: none;
    }

    .nav li {
        display: inline;
    }

    ul.nav a {
        display: inline-block;
        width: 10em;
        padding: 10px;
        background-color: #f4f4f4;
        border: 1px dashed #333;
        text-decoration: none;
        color: #333;
        text-align: center;
    }

        ul.nav a:hover {
            background-color: #333;
            color: #f4f4f4;
        }
        ul.nav a.active {
            background-color: #4CAF50;
            color: white;
        }
</style>
<style>
    table {
        width: 25%;
        background: white;
        color: white;
        border-spacing: 1px;
        align-content: center;
    }

    td, th {
        background: maroon;
        padding: 10px;
        align-content: center;

    }
</style>
@if (detailList.Any())
{
<ul class="nav">
    <li><a href="https://localhost:44367/api/Provider">Постачальник</a></li>
    <li><a href="https://localhost:44367/api/GroupOfDetail">Група деталі</a></li>
    <li><a class="active" href="https://localhost:44367/api/Detail">Деталі</a></li>
    <li><a href="https://localhost:44367/api/Provide">Поставки</a></li>
    <li><a href="https://localhost:44367/api/Shop">Магазин</a></li>
</ul>
    <table align="center">
        <tr> <th>ID</th> <th>Id Групи Деталі</th> <th>Навзва Деталі</th> <th>Артикул Деталі</th><th>Дата Деталі</th></tr>



        @foreach (var detail in detailList)
        {

            /*<p><strong>ID</strong> @detail.Id</p>
            <p><strong>Group Of Detail Id</strong> @detail.GroupOfDetailId</p>
            <p><strong>Name Of Detail</strong> @detail.NameOfDetail</p>
            <p><strong>Data Of Detail</strong> @detail.DataOfDetail</p>
            <p><strong>Article Of Detail</strong> @detail.ArticleOfDetail</p>*/

            <tr><td>@detail.Id</td><td>@detail.GroupOfDetailId</td><td>@detail.NameOfDetail</td><td>@detail.DataOfDetail</td><td>@detail.ArticleOfDetail</td><td> <button> <a class="btn btn-danger btn-sm" @onclick="@(() => DeleteDetail(detail.Id))">Delete</a> </button> </td></tr>

            // <button> <a class="btn btn-danger btn-sm" @onclick="@(() => DeleteDetail(detail.Id))">del</a> </button>


        }
    </table>


    <br />

}
else
{
    <p>No Contacts Found</p>
}

<div class="modal-body">
    <EditForm Model="@detailDTO" OnValidSubmit="@HandleValidSubmit">

        <DataAnnotationsValidator />
        <ValidationSummary />

        <form>

            <label>Id Групи Деталі: </label>
            <InputNumber class="form-control" @bind-Value="@detailDTO.GroupOfDetailId" /> <br><br>

            <label>Навзва Деталі: </label>
            <InputText class="form-control" @bind-Value="@detailDTO.NameOfDetail" /> <br><br>

            <label>Артикул Деталі: </label>
            <InputText class="form-control" @bind-Value="@detailDTO.ArticleOfDetail" /> <br><br>

            <label>Дата Деталі: </label>
            <InputDate class="form-control" @bind-Value="@detailDTO.DataOfDetail" /><br>

        </form>


        <button type="submit" class="btn btn-primary" onClick="window.location.href=window.location.href">Submit</button>

    </EditForm>
</div>








@code {
    

    @functions {
        private List<AutoDetailsFirmaDAL.Entities.Detail> detailList = new List<AutoDetailsFirmaDAL.Entities.Detail>();

        protected override async Task OnInitializedAsync() => await GetDetail();

        HttpClient httpClient = new HttpClient();


        private async Task GetDetail() => detailList = await httpClient.GetJsonAsync<List<AutoDetailsFirmaDAL.Entities.Detail>>("https://localhost:44367/api/Detail/paged");
        private async void DeleteDetail(int id)
        {
            string baseUrl = "https://localhost:44367";
            string endpoint = $"{baseUrl}/api/Detail/{id}";

            await httpClient.DeleteAsync(endpoint);
        }

        DetailDTO detailDTO { get; set; } = new DetailDTO();


        private async void HandleValidSubmit()
        {

            try
            {
                await detailService.AddDetails(detailDTO);
            }
            catch
            {

            }
        }


    }
}
